.hero {
  @apply w-screen max-w-none object-cover;
  height: calc(90vh + 10rem);
}

@responsive {
  .justify-items-center {
    justify-items: center;
  }

  .justify-items-start {
    justify-items: start;
  }
}
